/* pallete */
:root {
    /* dark */
     /* 100% */
    --000: #2c2c2c;
    --808: #FFFFFF;
     /* 85% */
    --00085: #000000D9;
    --80885: #FFFFFFD9;
     /* 65% */
    --00065: #000000A6;
    --80865: #FFFFFFA6;
     /* 35% */
    --00035: #00000059;
    --80835: #FFFFFF59;
      /* 10% */
    --00010: #0000001A;
    --80810: #FFFFFF1A;
     /* 0% */
    --0000: #2c2c2c00;
    --8080: #FFFFFF00; }
/* light */
html[view="light"] {
     /* 100% */
    --000: #FFFFFF;
    --808: #2c2c2c;
     /* 85% */
    --00085: #FFFFFFD9;
    --80885: #000000D9;
     /* 65% */
    --00065: #FFFFFFA6;
    --80865: #000000A6;
     /* 35% */
    --00035: #FFFFFF59;
    --80835: #00000059;
      /* 10% */
    --00010: #FFFFFF1A;
    --80810: #0000001A;
     /* 0% */
    --0000: #FFFFFF00;
    --8080: #2c2c2c00; }
