

                        /* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––
                         
                         Расположение: /Users/house/Pictures/east/columns.css
                         
                         ––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

                        /* Цвета */
                        @import url("../colors/styles.css");


                        
                        

                        
                        
                        /* Высота, Верх Низ 0, Лев Ров 0, Промеж 0 (Обратный) ---- */

                                                
                        .c-cs-tb0-lr0-i0-r {
                            display: flex;
                            flex-direction: column-reverse;
                            
                            width: 100%;
                            box-sizing: border-box;

                            flex: 1 1 auto;
                            overflow-y: auto;
                            
                            justify-content: flex-start;
                            align-items: stretch;
                            
                            background-color: var(--909);
                        }

                        /* Тёмная тема */
                        html[data-view="dark"] .c-cs-tb0-lr0-i0-r {
                            background-color: var(--000);
                        }


                        /* Среда, Верх Низ 0, Лев Ров 0, Промеж 0 ------------- */

                        .c-c-tb0-lr0-i0 {
                            
                            display: flex;
                            flex-direction: column;

                            width: 100%;
                            box-sizing: border-box;
                            
                            justify-content: center;
                            align-items: stretch;
                            
                            padding: 0px;
                            gap: 0px;

                            
                        }

                        /* Среда, Верх Низ 0, Лев Ров 0, Промеж 0 ------------- */

                        .c-c-tb0-lr0-i0-2 {
                            
                            display: flex;
                            flex-direction: column;

                            width: 100%;
                            box-sizing: border-box;
                            
                            justify-content: center;
                            align-items: stretch;
                            
                            padding: 0px;
                            gap: 0px;

                            
                        }

                        @media (min-width: 441px) {
                          .c-c-tb0-lr0-i0-2 {
                            display: flex;
                            flex-direction: column;
                          }
                        }

                       

                        /* Ширина 440, Среда, Верх Низ 0, Лев Ров 0, Промеж 0 ------- */

                        .c-mw440-c-tb0-lr0-i0 {
                            display: flex;
                            flex-direction: column;

                            width: 100%;
                            max-width: 440px;
                            box-sizing: border-box;
                            
                            justify-content: center;
                            align-items: stretch;
                            

                            padding: 0px;
                            gap: 0px;

                            
                        }

                        /* Среда, Верх Низ 0, Лев Ров 0, Промеж 8 ------------- */

                        .c-c-tb0-lr0-i8 {
                            display: flex;
                            flex-direction: column;
                           
                            width: 100%;
                            
                            box-sizing: border-box;

                            align-items: stretch;
                            justify-content: center;

                            padding: 0px;
                            gap: 8px;

                            
                        }


                        /* Размер 440, Среда Верх Низ 0, Лев Ров 0, Промеж 8 --------- */

                        .c-mw440-c-tb0-lr0-i8 {
                            display: flex;
                            flex-direction: column;
                           
                            width: 100%;
                            max-width: 440px;
                            box-sizing: border-box;

                            align-items: stretch;
                            justify-content: center;

                            padding: 0px;
                            gap: 8px;

                            
                        }

                        /* Верх Лев, Верх Низ 0, Лев Ров 0, Промеж 0 ------------- */

                        .c-tl-tb0-lr0-i0 {
                            display: flex;
                            flex-direction: column;

                            width: 100%;
                            max-width: 440px;
                            box-sizing: border-box;

                            align-items: stretch;
                            justify-content: flex-start;

                            padding: 0px;
                            gap: 0px;

                            background-color: var(--909);
                        }

                        /* Тёмная вид */
                        html[data-view="dark"] .c-tl-tb0-lr0-i0 {
                            background-color: var(--000);
                        }

                        /* Высота 8, Верх Низ Лев Ров 0, Промеж 0 ------------- */

                        .c-h8-tl-tb0-lr0-i0 {
                            
                            display: flex;
                            flex-direction: column;

                            height: 8px;
                            box-sizing: border-box;

                            align-items: stretch;
                            justify-content: flex-start;

                            padding: 0;
                            gap: 0;

                            background-color: var(--909);

                        }

                        /* Тёмная вид */
                        html[data-view="dark"] .c-h8-tl-tb0-lr0-i0 {
                            background-color: var(--000);
                        }

                        /* Ширина 20, Верх Низ 0, Лев Ров 0, Промеж 0 ------------- */

                        .c-h20-tl-tb0-lr0-i0 {
                            
                            display: flex;
                            flex-direction: column;

                            height: 120px;
                            box-sizing: border-box;

                            align-items: stretch;
                            justify-content: flex-start;

                            padding: 0;
                            gap: 0;

                            background-color: var(--909);

                        }

                        /* Тёмная вид */
                        html[data-view="dark"] .c-h120-tl-tb0-lr0-i0 {
                            background-color: var(--000);
                        }


                        /* Ширина 20, Верх Низ 0, Лев Ров 0, Промеж 0 ------------- */

                        .c-w20-tl-tb0-lr0-i0 {
                            
                            display: flex;
                            flex-direction: column;

                            width: 20px;
                            box-sizing: border-box;

                            align-items: stretch;
                            justify-content: flex-start;

                            padding: 0;
                            gap: 0;

                            background-color: var(--909);
                  
                        }

                        /* Тёмная вид */
                        html[data-view="dark"] .c-w20-tl-tb0-lr0-i0 {
                            background-color: var(--000);
                        }

                        /* Ширина 280, Среда, Верх Низ 0, Лев Ров 0, Промеж 0 ------------- */

                        .c-mw280-c-tb0-lr0-i0-bc9215 {
                            
                            will-change: backdrop-filter;
                            transform: translateZ(0);
                            isolation: isolate;
                            
                            position: relative;
                            z-index: 2;
                            
                            display: flex;
                            flex-direction: column;
                            
                            min-width: 280px;
                            width: 100%;
                            max-width: 760px;
                            
                            
                            box-sizing: border-box;

                            align-items: center;
                            justify-content: center;
                            
                            margin: 0px 20px;
                            padding: 0px;
                            flex-shrink: 0;
                            gap: 0;
                            
                            background-color: color-mix(in srgb, var(--909) 35%, transparent);
                            
                            backdrop-filter: blur(256px);
                            -webkit-backdrop-filter: blur(256px);
                            
                            border-radius: 24px;
                            
                           
                            
                        }

                        /* Контур через псевдо-элемент */
                        .c-mw280-c-tb0-lr0-i0-bc9215::after {
                          content: "";
                          position: absolute;
                          inset: 0;
                          border-radius: inherit;
                          pointer-events: none;

                          border: 1.5px solid var(--9215);
                        }

                        /* Тёмная тема */
                        html[data-view="dark"] .c-mw280-c-tb0-lr0-i0-bc9215 {
                          background-color: color-mix(in srgb, var(--000) 35%, transparent);
                        }

                        html[data-view="dark"] .c-mw280-c-tb0-lr0-i0-bc9215::after {
                          border-color: var(--0215);
                        }


                        @media (max-width: 440px) {
                          .c-mw280-c-tb0-lr0-i0-bc9215 {
                            display: flex;
                            flex-direction: column;
                            border-radius: 32px;
                          }
                        }

                        @media (max-width: 320px) {
                          .c-mw280-c-tb0-lr0-i0-bc9215 {
                            
                            border-radius: 12px;
                          }
                        }

                                               
                        /* Высота Среда, Верх Низ 0, Лев Ров 0, Промеж 4 -------------- */

                        .c-c-tb0-lr0-i4 {
                            
                            
                            width: 100%;
                            height: fit-content;
                            
                            box-sizing: border-box;
                            
                            display: flex;
                            flex-direction: column;
                            
                            justify-content: center;
                            align-items: center;
                            
                            padding: 0px 0px 0px 0px;
                            gap: 4px;
                            
                            background-color: var(--909);
                            
                        }

                        /* Тёмная вид */


                        html[data-view="dark"] .c-c-tb0-lr0-i4 {
                            background-color: var(--000);
                        }



                        /* Высота, Верх Низ 0, Лев Ров 0, Промеж 4 -------------- */

                       

                        .c-tl-tb0-lr0-i4 {
                            
                            
                            width: 100%;
                            height: fit-content;
                            
                            box-sizing: border-box;
                            
                            display: flex;
                            flex-direction: column;
                            
                            justify-content: flex-start;
                            align-items: flex-start;
                            
                            padding: 0px 0px 0px 0px;
                            gap: 4px;
                            
                            background-color: var(--909);
                            
                        }

                        /* Тёмная вид */

                       
                        html[data-view="dark"] .c-tl-tb0-lr0-i4 {
                            background-color: var(--000);
                        }


                        /* Низ Среда, Верх Низ 0, Лев Ров 0, Промеж 6 -------------- */

                        .c-tc-tb0-lr0-i0 {
                            position: relative;
                            
                            width: 100%;
                            height: fit-content;
                            
                            box-sizing: border-box;
                            
                            display: flex;
                            flex-direction: column;
                            
                            justify-content: flex-start;
                            align-items: center;
                            
                            background-color: var(--909);
                            
                        }

                        /* Тёмная вид */


                        html[data-view="dark"] .c-tc-tb0-lr0-i0 {
                            background-color: var(--000);
                        }

                        /* Низ Среда, Верх Низ 2, Лев Ров 20, Промеж 0 -------------- */

                        .c-bc-tb0-lr0-i0 {
                            position: relative;
                            
                            width: 100%;
                            height: fit-content;
                            
                            box-sizing: border-box;
                            
                            display: flex;
                            flex-direction: column;
                            
                            justify-content: flex-end;
                            align-items: center;
                            
                            background-color: var(--909);
                            
                        }

                        /* Тёмная вид */


                        html[data-view="dark"] .c-bc-tb0-lr0-i0 {
                            background-color: var(--000);
                        }

                        /* Среда, Верх 240, Лев 20, Низ 80,Ров 20, Промеж 40 ---------- */

                        .c-c-t80-l20-b80-r20-i40 {
                            position: relative;
                            
                            width: 100%;
                            
                            padding: 80px 20px 80px 20px;
                            gap: 40px;
                            
                            flex-shrink: 0;
                            
                            height: fit-content;
                            
                            box-sizing: border-box;
                            
                            display: flex;
                            flex-direction: column;
                            
                            justify-content: flex-end;
                            align-items: center;
                            
                            background-color: var(--911);
                            
                        }

                        /* Тёмная вид */


                        html[data-view="dark"] .c-c-t80-l20-b80-r20-i40 {
                            background-color: var(--011);
                        }

                        /* Низ Среда, Верх Низ 0, Лев Ров 0, Промеж -------------- */

                        .c-bc-tb2-lr20-i0 {
                            position: relative;
                            
                            width: calc(100% - 40px);
                            
                            margin: 0px 20px;
                            
                            flex-shrink: 0;
                            
                            height: fit-content;
                            
                            box-sizing: border-box;
                            
                            display: flex;
                            flex-direction: column;
                            
                            justify-content: flex-end;
                            align-items: center;
                            
                            background-color: var(--909);
                            
                        }

                        /* Тёмная вид */


                        html[data-view="dark"] .c-bc-tb2-lr20-i0 {
                            background-color: var(--000);
                        }



                        /* Высота, Верх Низ 0, Лев Ров 0, Промеж 6 -------------- */

                        .c-tl-tb0-lr0-i6 {
                            
                            width: 100%;
                            height: fit-content;
                            
                            box-sizing: border-box;
                            
                            display: flex;
                            flex-direction: column;
                            
                            justify-content: flex-start;
                            align-items: flex-start;
                            
                            padding: 0px 0px 0px 0px;
                            gap: 6px;
                            
                            background-color: var(--909);
                            
                        }

                        /* Тёмная вид */

                        
                        html[data-view="dark"] .c-tl-tb0-lr0-i6 {
                            background-color: var(--000);
                        }


                        /* Высота, Верх Низ 2, Лев Ров 8, Промеж 0 ------------ */

                        

                        .c-tl-tb2-lr8-i0 {
                            
                            
                            width: 100%;
                            height: fit-content;
                            
                            box-sizing: border-box;
                            
                            display: flex;
                            flex-direction: column;
                            
                            justify-content: flex-start;
                            align-items: flex-start;
                            
                            padding: 2px 8px 2px 8px;
                            gap: 0px;
                            
                            background-color: var(--909);
                            
                        }

                        /* Тёмная вид */


                        html[data-view="dark"] .c-tl-tb2-lr8-i0 {
                            background-color: var(--000);
                        }


                        /* Высота, Верх Низ 2, Лев Ров 0, Промеж 0 ------------- */


                        .c-tl-tb2-lr0-i0 {
                           
                            width: 100%;
                            height: fit-content;
                            
                            box-sizing: border-box;
                            
                            display: flex;
                            flex-direction: column;
                            
                            justify-content: flex-start;
                            align-items: flex-start;
                            
                            padding: 2px 0px 2px 0px;
                            gap: 0px;
                            
                            background-color: var(--909);
                            
                        }

                        /* Тёмная вид */

                        html[data-view="dark"] .c-tl-tb2-lr0-i0 {
                            background-color: var(--000);
                        }

                        /* Среда, Верх 0, Лев 12, Низ 4, Ров 12, Промеж 0 ------- */

                        .c-c-t0-l12-b8-r12-i0 {
                            
                            
                            width: 100%;
                            height: fit-content;
                            
                            box-sizing: border-box;
                            
                            display: flex;
                            flex-direction: column;
                            
                            justify-content: center;
                            align-items: center;
                            
                            
                            padding: 0x 12px 8px 12px;
                            gap: 0px;
                            
                            margin: 0 auto;
                            
                        }

                        

                        
                        /* Верх Лево, Верх Низ 4, Лев Ров 0, Промеж 0 ------- */
                        
                        .c-tl-tb4-lr0-i0 {
                            
                            
                            width: 100%;
                            height: fit-content;
                            
                            box-sizing: border-box;
                            
                            display: flex;
                            flex-direction: column;
                            
                            justify-content: flex-start;
                            align-items: flex-start;
                            
                            padding: 4px 0px 4px 0px;
                            gap: 0px;
                            
                        }

                        
                        /* Высота, Верх 2, Лев 8, Низ 4, Ров 8, Промеж 0 --------- */

                        .c-tl-t2-l12-b4-r12-i12 {
                            
                            width: 100%;
                            height: fit-content;
                            
                            box-sizing: border-box;
                            
                            display: flex;
                            flex-direction: column;
                            
                            justify-content: flex-start;
                            align-items: flex-start;
                            
                            padding: 2px 12px 4px 12px;
                            gap: 12px;
                            
                            background-color: var(--909);
                            
                        }

                        /* Тёмная вид */

                        html[data-view="dark"] .c-tl-t2-l12-b4-r12-i12 {
                            background-color: var(--000);
                        }


                        /* Высота, Верх Низ 16, Лев Ров 0, Промеж 0 ------------ */

                       
                        .c-bl-tb16-lr0-i0 {
                            
                            
                            width: 100%;
                            max-width: 440px;
                            
                            height: fit-content;
                            
                            box-sizing: border-box;
                            
                            display: flex;
                            flex-direction: column;
                            
                            justify-content: flex-end;
                            align-items: flex-start;
                            
                            padding: 16px 0px 16px 0px;
                            gap: 0px;
                            
                            background-color: var(--909);
                            
                        }

                        /* Тёмная вид */

                        html[data-view="dark"] .c-bl-tb16-lr0-i0 {
                            background-color: var(--000);
                        }


                        /* Высота, Верх Низ 8, Лев Ров 0, Промеж 8 --------------- */

                     
                        .c-tl-tb8-lr0-i8 {
                            display: flex;
                            flex-direction: column;

                            width: 100%;
                            min-height: 0;
                            box-sizing: border-box;

                            flex: 1 1 auto;
                            overflow-y: auto;

                            justify-content: flex-start;
                            align-items: flex-start;

                            padding: 8px 0px;
                            gap: 8px;

                            background-color: var(--909);
                        }

                      
                        /* Тёмная вид */

                        html[data-view="dark"] .c-tl-tb8-lr0-i8 {
                            background-color: var(--000);
                        }

                        /* Высота, Верх Низ 0, Лев Ров 8, Промеж 0 -------------- */

                        .c-tl-tb0-lr8-i0 {
                            
                            width: 100%;
                            flex: 1 1 auto;
                            overflow-y: auto;
                            min-height: 0;
                            box-sizing: border-box;
                            
                            display: flex;
                            
                            flex-direction: column;
                            
                            justify-content: flex-start;
                            align-items: flex-start;
                            
                            padding: 0px 8px 0px 8px;
                            gap: 0px;
                            
                            background-color: var(--909);
                            
                            
                        }

                        /* Тёмная вид */

                        html[data-view="dark"] .c-tl-tb0-lr8-i0 {
                            background-color: var(--000);
                        }


                        
                    

                    

                       
                        /* Высота, Верх Низ 8, Лев Ров 8, Промеж 0 -------------- */

                        .c-bl-tb8-lr8-i0 {
                            
                            
                            width: 100%;
                            flex: 1 1 auto;
                            overflow-y: auto;
                            min-height: 0;
                            box-sizing: border-box;
                            
                            display: flex;
                            
                            flex-direction: column;
                            
                            justify-content: flex-end;
                            align-items: flex-start;
                            
                            padding: 8px;
                            gap: 0px;
                            
                            background-color: var(--909);
                            
                            
                        }

                        /* Тёмная вид */

                        html[data-view="dark"] .c-bl-tb8-lr8-i0 {
                            background-color: var(--000);
                        }


                        /* Верх Лев, Верх Низ 8, Лев Низ 8, Промеж 0 -------------- */


                        .c-с-tb8-lr8-i0 {
                            
                            
                            width: 100%;
                            max-width: 440px;
                            
                            height: fit-content;
                            
                            box-sizing: border-box;
                            
                            display: flex;
                            flex-direction: column;
                            
                            justify-content: flex-start;
                            align-items: flex-start;
                            
                            padding: 8px;
                            gap: 0px;
                           
                        }

                        


                        /* Верх Лев, Верх Низ 8, Лев Низ 8, Промеж 0 -------------- */

                     
                        .c-tl-tb8-lr8-i0 {
                            
                            
                            width: 100%;
                            max-width: 440px;
                            
                            height: fit-content;
                            
                            box-sizing: border-box;
                            
                            display: flex;
                            flex-direction: column;
                            
                            justify-content: flex-start;
                            align-items: flex-start;
                            
                            padding: 8px;
                            gap: 0px;
                            
                            background-color: var(--909);
                            
                        }

                        /* Тёмная вид */

                        html[data-view="dark"] .c-tl-tb8-lr8-i0 {
                            background-color: var(--000);
                        }


                        /* Высота, Верх Низ 14, Лев Ров 0, Промеж 0 ------------ */
                     
                        .c-tl-tb14-lr0-i0 {
                            
                            
                            width: 100%;
                            height: fit-content;
                            
                            box-sizing: border-box;
                            
                            display: flex;
                            flex-direction: column;
                            
                            justify-content: flex-start;
                            align-items: flex-start;
                            
                            padding: 14px 0px 14px 0px;
                            gap: 0px;
                            
                        }

                       

                        /* Высота, Верх Низ 0, Лев Ров 0, Промеж 20 ---------- */
                        
                        .c-tl-tb0-lr0-i20 {
                            
                            width: 100%;
                            height: fit-content;
                            
                            box-sizing: border-box;
                            
                            display: flex;
                            flex-direction: column;
                            
                            justify-content: flex-start;
                            align-items: flex-start;
                            
                            padding: 0px 0px 0px 0px;
                            gap: 20px;
                            
                            background-color: var(--909);
                            
                        }

                        /* Тёмная вид */

                        html[data-view="dark"] .c-tl-tb0-lr0-i20 {
                            background-color: var(--000);
                        }
                            
                        /* Высота, Верх Низ 8, Лев Ров 0, Промеж 12 ---------- */

                        .c-tl-tb8-lr0-i12 {
                            
                            
                            width: 100%;
                            height: fit-content;
                            
                            box-sizing: border-box;
                            
                            display: flex;
                            flex-direction: column;
                            
                            justify-content: flex-start;
                            align-items: flex-start;
                            
                            padding: 8px 0px 8px 0px;
                            gap: 12px;
                            
                            background-color: var(--909);
                            
                        }

                        /* Тёмная вид */

                        html[data-view="dark"] .c-tl-tb8-lr0-i12 {
                            background-color: var(--000);
                        }


                        /* Высота, Верх Низ 0, Лев Ров 20, Промеж 0 ---------- */


                        .c-tl-tb0-lr20-i12 {
                            
                            
                            width: 100%;
                            height: fit-content;
                            
                            box-sizing: border-box;
                            
                            display: flex;
                            flex-direction: column;
                            
                            justify-content: flex-start;
                            align-items: flex-start;
                            
                            padding: 0px 20px 0px 20px;
                            gap: 0px;
                            
                            background-color: var(--909);
                          
                        }
                         

                        /* Тёмная вид */

                        html[data-view="dark"] .c-tl-tb0-lr20-i12 {
                            background-color: var(--000);
                        }

                        /* Среда, Верх Низ 2, Лев Ров 12, Промеж 0 ------------ */

                        .c-с-tb2-lr12-i0 {
                           
                            height: fit-content;
                            
                            display: flex;
                            flex-direction: column;
                            
                            justify-content: flex-start;
                            align-items: flex-start;
                            
                            padding: 2px 12px 2px 12px;
                            gap: 0px;
                            margin: 0px auto;
                            
                        }


                        
                        /* Высота, Верх Низ 2, Лев Ров 12, Промеж 12 ------------ */

                        .c-tl-tb2-lr12-i12 {
                           
                            height: fit-content;
                            
                            display: flex;
                            flex-direction: column;
                            
                            justify-content: flex-start;
                            align-items: flex-start;
                            
                            padding: 2px 12px 2px 12px;
                            gap: 12px;
                            
                            background-color: var(--909);
                          
                        }


                        /* Тёмная вид */

                        html[data-view="dark"] .c-tl-tb2-lr12-i12 {
                            background-color: var(--000);
                        }


                        /* Верх Лев, Верх Низ 2, Лев Ров 20, Промеж 0 ------------ */

                        .c-с-tb2-lr20-i0 {
                           
                            height: fit-content;
                            width: 100%;
                            max-width: 760px;
                            
                            display: flex;
                            flex-direction: column;
                            
                            justify-content: center;
                            align-items: center;
                            
                            padding: 2px 20px 2px 20px;
                            gap: 0px;
                          
                          
                        }



                        /* Высота Среда, Верх Низ 2, Лев Ров 20, Промеж 12 ------------ */

                        .c-c-tb2-lr20-i12 {
                            
                            height: fit-content;
                            width: 100%;
                            box-sizing: border-box;

                            display: flex;
                            flex-direction: column;

                            justify-content: center;
                            align-items: center;

                            padding: 2px 20px;
                            gap: 12px;
                            margin: 0 auto;
                            
                      
                        }




                        /* Высота, Верх Низ 2, Лев Ров 20, Промеж 12 ------------ */

                        .c-tl-tb2-lr20-i12 {
                            
                            
                            height: fit-content;
                            
                            display: flex;
                            flex-direction: column;
                            
                            justify-content: flex-start;
                            align-items: flex-start;
                            
                            padding: 2px 20px 2px 20px;
                            gap: 12px;
                            
                            background-color: var(--909);
                          
                        }


                        /* Тёмная вид */

                        html[data-view="dark"] .c-tl-tb2-lr20-i12 {
                            background-color: var(--000);
                        }




                        /* Высота, Верх Низ 8, Лев Ров 20, Промеж 12 ---------- */

                            .c-tl-tb8-lr20-i12 {

                                height: fit-content;

                                display: flex;
                                flex-direction: column;

                                justify-content: flex-start;
                                align-items: flex-start;

                                padding: 8px 20px 8px 20px;
                                gap: 12px;

                                background-color: var(--909);

                            }

                            /* Тёмная вид */

                            html[data-view="dark"] .c-tl-tb8-lr20-i12 {
                                background-color: var(--000);
                            }


                        

                        /* Высота, Верх Низ 0, Лев Ров 20, Промеж 0 -------------- */


                        .c-с-tb40-lr20-i0 {
                            
                            
                            
                            position: relative;
                            
                            width: 100%;
                            height: fit-content;
                            
                            z-index: 2;
                            
                            display: flex;
                            flex-direction: column;
                            
                            justify-content: center;
                            align-items: center;
                            
                            padding: 40px 20px 40px 20px;
                            gap: 0px;
                            
                        }



                        /* Высота, Верх Низ 20, Лев Ров 0, Промеж 8 ----------- */


                        .c-tl-tb0-lr20-i8 {
                            
                            
                            height: fit-content;
                            
                            display: flex;
                            flex-direction: column;
                            
                            justify-content: flex-start;
                            align-items: flex-start;
                            
                            padding: 20px 0px 20px 0px;
                            gap: 8px;
                            
                            background-color: var(--909);
                            
                        }

                        /* Тёмная вид */


                        html[data-view="dark"] .c-tl-tb0-lr20-i8 {
                            background-color: var(--000);
                        }

                        /* 1 Высота 160, Верх 80, Лев 20, Низ 40, Ров 20, Промеж 10, Цвет Первый */


                        .c-h160-c-tb0-lr0-i0 {
                            
                            display: flex;
                            flex-direction: column;
                            
                            
                            width: 100%;
                            height: 160px;
                            
                            display: flex;
                            flex-direction: column;
                            
                            justify-content: center;
                            align-items: center;
                            
                            
                            background-color: var(--909);
                            
                        }

                        /* Тёмная вид */

                        html[data-view="dark"] .c-h160-c-tb0-lr0-i0 {
                            background-color: var(--000);
                        }



                        /* 1 Высота 160, Верх 80, Лев 20, Низ 40, Ров 20, Промеж 10, Цвет Первый */


                        .c-h160-c-tb0-lr0-i0-c911 {
                            
                            position: absolute;
                            z-index: 1;
                            top: 0;
                            left: 0;
                            
                            width: 100%;
                            height: 160px;
                            
                            display: flex;
                            flex-direction: column;
                            
                            justify-content: center;
                            align-items: center;
                            
                            
                            background-color: var(--911);
                            
                        }

                        /* Тёмная вид */

                        html[data-view="dark"] .c-h160-c-tb0-lr0-i0-c911 {
                            background-color: var(--011);
                        }


/* Среда, Верх 80, Лев 20, Низ 40, Ров 20, Промеж 10 --------------- */


                        .c-c-t160-l20-b80-r20-i10 {
                            
                            width: 100%;
                           
                            height: fit-content;
                            
                            display: flex;
                            flex-direction: column;
                            
                            justify-content: center;
                            align-items: center;
                            
                            padding: 160px 20px 80px 20px;
                            gap: 10px;
                            
                            background-color: var(--909);
                            
                        }

                        /* Тёмная вид */

                        html[data-view="dark"] .c-c-t160-l20-b80-r20-i10 {
                            background-color: var(--000);
                        }


/* Cреда, Верх Низ 80, Лев Ров 20, Промеж 10, Цвет первый ------------------------- */


                        .c-c-tb80-lr20-i40-c911 {
                            
                            width: 100%;
                           
                            height: fit-content;
                            
                            display: flex;
                            flex-direction: column;
                            
                            justify-content: center;
                            align-items: center;
                            
                            padding: 80px 20px 80px 20px;
                            gap: 40px;
                            
                            background-color: var(--911);
                            
                        }

                        /* Тёмная вид */

                        html[data-view="dark"] .c-c-tb80-lr20-i40-c911 {
                            background-color: var(--011);
                        }


                        /* Высота, Верх Низ 160, Лев Ров 0, Промеж 0 ------------ */


                        .c-tl-tb160-lr0-i10 {
                            
                            width: 100%;
                            height: fit-content;
                            
                            display: flex;
                            flex-direction: column;
                            
                            justify-content: center;
                            align-items: center;
                            
                            padding: 160px 0px;
                            gap: 10px;
                            
                            background-color: var(--909);
                            
                        }

                        /* Тёмная вид */

                        html[data-view="dark"] .c-tl-tb160-lr0-i10 {
                            background-color: var(--000);
                        }


                        /* Высота, Верх Низ 40, Лев Ров 0, Промеж 0 ------------- */


                        .c-tl-tb40-lr0-i20 {
                            
                            
                            height: fit-content;
                            
                            display: flex;
                            flex-direction: column;
                            
                            justify-content: flex-start;
                            align-items: flex-start;
                            
                            padding: 40px 0px 40px 0px;
                            gap: 20px;
                            
                            background-color: var(--909);
                            
                        }

                        /* Тёмная вид */

                        
                        html[data-view="dark"] .c-tl-tb40-lr0-i20 {
                            background-color: var(--000);
                        }



                        /* Черта, Высота, Верх Низ 0, Лев Ров 20, Промеж 0 ------- */

                        .c-tb0-lr20-i12-c9215 {
                            
                            width: calc(100% - 40px);
                            height: 1.5px;
                            background-color: var(--9215);
                            box-sizing: border-box;
                            margin: 0px 20px;
                            padding: 0px;
                            flex-shrink: 0;
                          
                        }

                        html[data-view="dark"] .c-tb0-lr20-i12-c9215 {
                            background-color: var(--0215);
                        }

/* Черта с растоянием, Высота, Верх Низ 0, Лев Ров 12, Промеж 0 ------- */

                        .c-t8-l12-b0-r12-i0-c9215 {
                            
                            width: calc(100% - 24px);
                            height: 1.5px;
                            background-color: var(--9215);
                            box-sizing: border-box;
                            margin: 8px 12px 0px 12px;
                            
                            flex-shrink: 0;
                          
                        }

                        html[data-view="dark"] .c-t8-l12-b0-r12-i0-c9215 {
                            background-color: var(--0215);
                        }


                        
