
                        /* Расположение: /Users/house/Pictures/east/rows.css */


                        /* Цвета */
                        @import url("../colors/styles.css");



                        /* Круг 14, Цвет Светло серый ------------ */

                        .circle-s14-c9235 {
                          width: 14px;
                          height: 14px;
                          border-radius: 50%;
                          background-color: var(--9235);
                        }

                        /* Тёмная тема */
                        html[data-view="dark"] .circle-s14-c9235 {
                          background-color: var(--0235);
                        }


                        /* Круг 14, Цвет прозрачный ------------ */


                        .circle-s14-ci {
                          width: 14px;
                          height: 14px;
                          border-radius: 50%;
                          background-color: inherit;
                          flex-shrink: 0;
                        }


                        
                        
                        /* Круг 880 ------------ */


                        .circle-s880 {
                          width: 880px;
                          height: 880px;
                          border-radius: 50%;
                          background-color: var(--911);
                          flex-shrink: 0;
                        }

                        /* Тёмная тема */
                        html[data-view="dark"] .circle-s880 {
                          background-color: var(--011);
                        }
