                        /* Расположение: /Users/house/Pictures/east/rows.css */


                        /* Цвета */
                        @import url("../colors/styles.css");


                        .r-flex {
                            flex: 1;
                            display: flex;
                            flex-direction: row;
                            overflow: hidden;
                            
                        }


                        /* Ширина, Верх Низ 12, Лев Ров 8, Промеж 12 ------------ */


                        .r-l-tb12-lr8-i12 {
                            
                            width: 100%;
                            height: fit-content;
                            
                            box-sizing: border-box;
                            
                            display: flex;
                            flex-direction: row;
                            
                            justify-content: flex-start;
                            align-items: flex-start;
                            
                            padding: 12px 8px 12px 8px;
                            gap: 12px;
                            
                            background-color: var(--909);
                            
                        }

                        /* Тёмная вид */
                        html[data-view="dark"] .r-l-tb12-lr8-i12{
                            background-color: var(--000);
                        }


                        /* Ширина, Верх Низ 0, Лев Ров 0, Промеж 12 ------------ */


                        .r-l-tb0-lr0-i12 {
                            
                            width: 100%;
                            height: fit-content;
                            
                            box-sizing: border-box;
                            
                            display: flex;
                            flex-direction: row;
                            
                            justify-content: flex-start;
                            align-items: flex-start;
                            
                            padding: 0px 0px 0px 0px;
                            gap: 12px;
                            
                            background-color: var(--909);
                            
                        }

                        /* Тёмная вид */
                        html[data-view="dark"] .r-l-tb0-lr0-i12{
                            background-color: var(--000);
                        }


                        /* Ширина, Верх Низ 0, Лев Ров 0, Промеж 0 ------------ */


                            .r-l-tb0-lr0-i0 {
                                
                                
                                width: 100%;
                                height: fit-content;
                                
                                box-sizing: border-box;
                                
                                display: flex;
                                flex-direction: row;
                                
                                justify-content: flex-start;
                                align-items: flex-start;
                                
                                padding: 0px 0px 0px 0px;
                                gap: 0px;
                                
                                background-color: var(--909);
                                
                            }

                            /* Тёмная вид */


                            html[data-view="dark"] .r-l-tb0-lr0-i0 {
                                background-color: var(--000);
                            }




                            /* Распределенно, Верх Низ 12, Лев Ров 8, Промеж 12 ---------- */


                            .r-sb-tb8-lr12-i12 {
                                
                                display: flex;
                                flex: none;
                                
                                width: 100%;
                                box-sizing: border-box;
                                
                                height: fit-content;
                                
                                flex-direction: row;
                                
                                justify-content: space-between;
                                align-items: center;
                                
                                padding: 8px 12px 8px 12px;
                                gap: 12px;
                                
                                background-color: var(--909);
                                
                            }

                            /* Тёмная вид */

                            html[data-view="dark"] .r-sb-tb8-lr12-i12 {
                                background-color: var(--000);
                            }


                            /* Распределенно, Верх Низ 2, Лев Ров 20, Промеж 12 ---------- */


                            .r-sb-tb2-lr20-i12 {
                                
                                display: flex;
                                flex: none;
                                
                                width: 100%;
                                box-sizing: border-box;
                                
                                height: fit-content;
                                
                                flex-direction: row;
                                
                                justify-content: space-between;
                                align-items: flex-start;
                                
                                padding: 2px 20px 2px 20px;
                                gap: 12px;
                                
                                background-color: var(--909);
                                
                            }

                            /* Тёмная вид */

                            html[data-view="dark"] .r-sb-tb2-lr20-i12 {
                                background-color: var(--000);
                            }


                            /* Распределенно, Верх Низ 2, Лев Ров 20, Промеж 12 ---------- */


                            .r-sb-tb8-lr14-i12 {
                                
                                display: none;
                                flex: none;
                                
                                width: 100%;
                                box-sizing: border-box;
                                
                                height: fit-content;
                                
                                flex-direction: row;
                                
                                justify-content: space-between;
                                align-items: center;
                                
                                padding: 8px 14px 8px 14px;
                                gap: 12px;
                                
                               
                                
                            }


                            @media (min-width: 441px) {
                              .r-sb-tb8-lr14-i12 {
                                display: flex;
                              }
                            }
                            


                            /* Лев, Верх Низ 2, Лев Ров 20, Промеж 12 ---------------------- */


                            .r-r-tb2-lr20-i12 {
                                
                                display: flex;
                                flex: none;
                                
                                width: 100%;
                                box-sizing: border-box;
                                
                                height: fit-content;
                                
                                flex-direction: row;
                                
                                justify-content: flex-end;
                                align-items: flex-start;
                                
                                padding: 2px 20px 2px 20px;
                                gap: 12px;
                                
                                background-color: var(--909);
                                
                            }

                            /* Тёмная вид */

                            html[data-view="dark"] .r-r-tb2-lr20-i12 {
                                background-color: var(--000);
                            }




                        /* Лев, Верх Низ 0, Лев Ров 0, Промеж 9 ---------- */

                            
                        .r-l-tb11-lr5-i9 {
                            
                            height: fit-content;
                           
                            
                            display: flex;
                            flex-direction: row;
                            
                            justify-content: flex-start;
                            align-items: flex-start;
                            
                            padding: 11px 5px 11px 5px;
                            gap: 9px;
                            
                           
                            
                        }

                        


                        /* Лев, Верх 8, Лев 20, Низ 8, Ров 20, Промеж 12 ---------- */


                            
                        .r-l-tb8-lr20-i12 {
                            
                            height: fit-content;
                            
                            display: flex;
                            flex-direction: row;
                            
                            justify-content: flex-start;
                            align-items: flex-start;
                            
                            padding: 8px 20px 8px 20px;
                            gap: 12px;
                            
                            background-color: var(--909);
                            
                        }

                        /* Тёмная вид */

                        html[data-view="dark"] .r-l-tb8-lr20-i12 {
                            background-color: var(--000);
                        }



                        /* Лев, Верх Низ 16, Лев Ров 20, Промеж 12 ----------------- */


                            
                        .r-l-tb16-lr20-i12 {
                            
                            height: fit-content;
                            
                            display: flex;
                            flex-direction: row;
                            
                            justify-content: flex-start;
                            align-items: flex-start;
                            
                            padding: 16px 20px 16px 20px;
                            gap: 12px;
                            
                            background-color: var(--909);
                            
                        }

                        /* Тёмная вид */

                        html[data-view="dark"] .r-l-tb16-lr20-i12 {
                            background-color: var(--000);
                        }


                        

                        /* Среда для одного, Верх Низ 2, Лев Ров 120, Промеж 10 ---------------- */




                        .r-c-tb0-lr0-i40 {
                            
                            display: flex;
                            flex: none;
                            
                            width: 100%;
                            max-width: 760px;
                            box-sizing: border-box;
                            
                            height: fit-content;
                            
                            flex-direction: row;
                            
                            justify-content: center;
                            align-items: center;
                            
                            padding: 0px;
                            gap: 80px;
                            
                            
                        }


                        @media (max-width: 640px) {
                          .r-c-tb0-lr0-i40 {
                            flex-direction: column;
                            
                          }
                        }
                       




                        /* Среда для одного, Верх Низ 2, Лев Ров 120, Промеж 10 ---------------- */


                        .r-c-tb2-lr20-i10 {
                            
                            display: block;
                            flex-direction: row;
                            
                            justify-content: center;
                            align-items: center;
                            
                            text-align: center;
                            
                            width: 100%;
                            max-width: 760px;
                            box-sizing: border-box;
                            
                            gap: 10px;
                            
                            padding: 2px 20px 2px 20px;
                            
                        }

                        


                        /* Среда для более чем одного, Верх Низ 0, Лев Ров 0, Промеж 6 ----------- */


                        .r-cc-tb0-lr0-i6 {
                            
                            display: flex;
                            flex-direction: row;
                            
                            justify-content: center;
                            align-items: center;
                            
                            text-align: center;
                            
                            width: 100%;
                            box-sizing: border-box;
                            padding: 0px;
                            gap: 6px;

                            background-color: var(--909);

                        }

                        /* Тёмная вид */

                        html[data-view="dark"] .r-cc-tb0-lr0-i6  {
                            background-color: var(--000);
                        }



                         
                        /* Среда для более чем одного, Верх Низ 2, Лев Ров 120, Промеж 10 ----------- */


                        .r-cc-tb2-lr120-i10 {
                            
                            display: flex;
                            flex-direction: row;
                            
                            justify-content: center;
                            align-items: center;
                            
                            text-align: center;
                            
                            width: 100%;
                            box-sizing: border-box;
                            padding: 2px 120px;
                            gap: 10px;

                            background-color: var(--909);

                        }

                        /* Тёмная вид */

                        html[data-view="dark"] .r-cc-tb2-lr120-i10  {
                            background-color: var(--000);
                        }



                        /* Среда, Верх Низ 40, Лев Ров 120, Промеж 80 ---------------- */


                        .r-cs-tb40-lr120-i80 {
                            
                            
                            height: fit-content;
                            
                            display: flex;
                            
                            flex-direction: row;
                            
                            justify-content: center;
                            align-items: stretch;
                            
                            padding: 40px 120px 40px 120px;
                            gap: 80px;
                            
                            background-color: var(--909);
                            
                        }

                        /* Тёмная вид */

                        html[data-view="dark"] .r-cs-tb40-lr120-i80 {
                            background-color: var(--000);
                        }
                            
                        
                        /* Среда, Верх Низ 2, Лев Ров 20, Промеж 12 ---------- */


                        .r-c-tb2-lr20-i12 {
                            
                            width: 100%;
                            height: fit-content;
                            
                            box-sizing: border-box;
                            
                            display: flex;
                            flex-direction: row;
                            
                            justify-content: center;
                            align-items: flex-start;
                            
                            padding: 2px 20px 2px 20px;
                            gap: 12px;
                            
                            background-color: var(--909);
                          
                        }


                        /* Тёмная вид */

                        html[data-view="dark"] .r-c-tb2-lr20-i12 {
                            background-color: var(--000);
                        }



                        /* Ширина 412, Высота 36 Среда, Верх Низ 0, Лев Ров 0, Промеж 0 ------ */

                        .r-w412-h36-sb-tb11-lr9-i0-bc9235 {
                            
                            display: flex;
                            flex: none;
                            
                            width: 100%;
                            width: 412px;
                            max-height: 36px;
                            
                            box-sizing: border-box;
                            
                            height: fit-content;
                            
                            flex-direction: row;
                            
                            justify-content: space-between;
                            align-items: center;
                            
                           
                            
                            padding: 11px 9px;
                            flex-shrink: 1;
                            gap: 0;
                            
                            background-color: var(--9210);
                            border: 1.5px solid var(--9215);
                            border-radius: 18px;
                        }

                        /* Тёмная тема */
                        html[data-view="dark"] .r-w412-h36-sb-tb11-lr9-i0-bc9235 {
                          background-color: var(--0210);
                          border-color: var(--0215);
                        }

                        
