
/* Расположение: /Users/home/Documents/firma/east/strings/letters.html */

/* Цвета */
@import url("../colors/styles.css");

/* Подключение шрифтов */

@font-face {
    font-family: "InterDisplay";
    src: url("InterDisplay-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "InterDisplay";
    src: url("InterDisplay-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "InterDisplay";
    src: url("InterDisplay-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "InterDisplay";
    src: url("InterDisplay-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "InterDisplay";
    src: url("InterDisplay-ExtraLight.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
}


