                                
    /* –––––––––––––––––––––––––––––––––––––––––––––––––––
                                 
    Расположение: /Users/home/Documents/firma/east/colors/actions.js
     
    Понятия:

    1. 0 Тёмный вид, 9 Светлый вид
    2. 1 Цвет, а 2 Тон
    3. XXX Цвет
                                 
    –––––––––––––––––––––––––––––––––––––––––––––––––––– */


    :root {
        
        /* 100% */
        
        --808: #FFFFFF;
        --000: #000000;
        
        /* 85% */
        
        --8085: #000000D9;
        --0085: #FFFFFFD9;
        
        /* 65% */
        
        --8065: #000000A6;
        --0065: #FFFFFFA6;
        
        /* 35% */
        
        --8035: #00000059;
        --0035: #FFFFFF59;
        
        /* 15% */
        
        --8015: #00000026;
        --0015: #FFFFFF26;
        
        
        /* 10% */
        
        --8010: #0000001A;
        --0010: #FFFFFF1A;
        
        

        
        /* Зеленый */
        
        --014: #009473;
        
        /* Красный */
        
        --011: #FF2D55;

    }


